.container {
  border: 1px solid var(--bg-color);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;
  justify-content: center;
}

.itemHeader {
  min-width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: grid;
  grid-template-columns: 1fr 40px;
}

.title {
  padding: 1rem;
}

.deleteBtn {
  box-shadow: none;
  color: var(--text-color);
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}
