header {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 1.5rem 4rem 1.5rem 2rem;
  border-image: linear-gradient(
      to left,
      transparent,
      var(--text-color-30),
      transparent
    )
    1;
  border-width: 2px;
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
}

nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 80px 80px;
  justify-items: end;
  align-items: center;
  font-size: 1.2rem;
}

.navlink:first-of-type {
  font-size: 1.6rem;
  font-weight: bold;
  justify-self: start;
}

.navlink:last-of-type {
  position: relative;
}

.navlink {
  display: grid;
}

.navlink.active {
  color: var(--primary-color);
}

.icon {
  display: inline;
  align-self: center;
}

.badge {
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 20px;
  height: 20px;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: -10px;
}
