.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  border: 1px solid var(--bg-color);
  border-radius: 30px;
  overflow: hidden;
}

.container * {
  text-align: center;
}

.btn {
  box-shadow: none;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: block;
}

.quantity {
  align-self: center;
}

.quantity input {
  max-width: 4ch;
  background-color: inherit;
  color: inherit;
  border: inherit;
}
