@import "modern-normalize";

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

:root {
  --bg-color: rgb(32, 32, 32);
  --text-color: rgb(255, 255, 255);
  --text-color-30: rgba(255, 255, 255, 0.3);
  --text-color-60: rgba(255, 255, 255, 0.6);
  --primary-color: rgb(226, 125, 2);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 90px auto;
  align-items: stretch;
  width: 100vw;
  height: 100vh;
}

main {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}
